html, body, .container-fluid {
    height: 100%;
    font-family: 'adelle', 'Montserrat', Arial, serif;
}
.content-container {
    margin-top: 50px;
}
.navbar {
    background-color: #485563;
    display: none;
}
.side-bar {
    /* background: linear-gradient(#283048, #859398); */
    background: #524740;
    background: -webkit-linear-gradient(#29323c,#485563);
    background: -o-linear-gradient(#29323c,#485563);
    background: -moz-linear-gradient(#29323c,#485563);
    background: linear-gradient(#29323c,#485563);
    height: 100%;
    position: fixed;
}
.navbar-header {
    border-bottom: 1px solid #9799A7;
}
#name-sm {
    color: white;
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: .5px;
}
.name {
    font-size: 27px;
    font-weight: bold;
    color: white;
    letter-spacing: .5px;
}
.intro {
    color: white;
    font-size: 15px;
}
#nav-links a {
    color: #888181;
    /* font-weight: bold; */
    font-size: 18px;
    text-align: center;
}
#nav-links a:hover {
    color: #5B8CC7;
}
.side-links li {
    border-bottom: 1px solid #746b64;
    font-size: 17px;
}
.side-links a {
    color:  #888181; /* #9799A7 */
    text-decoration: none;
    /* font-weight: bold; */
}
.side-links a:hover {
    color: #5B8CC7;
}
.photo img {
    display: block;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #887E71;
}
.intro-text {
    width: 50%;
}
.row-lg {
    height: 80px;
}
.row-sm {
    height: 25px;
}
.row-xs {
    height: 15px;
}
.side-links {
    padding: 10px;
    list-style-type: none;
    margin: 0;
}

/* front page styles */
.hello {
    font-size: 40px;
    font-weight: bold;
}
.intro-para {
    margin-top: 10px;
    font-size: 20px;
}

@media (max-width: 770px) {
    .navbar {
        display: block;
    }
    .side-bar {
        display: none;
    }
    .side-links {
        text-align: center;
    }
    .navbar-header {
        float: none;
    }
}

/* Portfolio styles */

.card-container {
  cursor: pointer;
  height: 302px;
  position: relative;
  width: 302px;
}
.card {
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .side {
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  line-height: 150%;
  color: #8e847d;
  padding: 6px;
}
.side-text {
    z-index: 1000;
    position: absolute;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 30px;
}
.side-text-1 {
    left: 12%;
    top: 41%;
}
.side-text-2 {
    left: 17%;
    top: 41%;
}
.side-text-3 {
    left: 12%;
    top: 40%
}
.side-text-4 {
    left: 18%;
    top: 41%
}
.buttons {
    left: 13%;
    position: absolute;
}
.btn-inv {
    top:58%;
}
.btn-connect-four {
    left: 32%;
    top: 53%;   
}
.btn-personal-site {
    left: 32%;
    top: 40%;
}
.project {
    margin-bottom: 40px;
}