<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style-2.css">
    <script src="https://use.typekit.net/iul2bas.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<title>
    {% block title %}
    {% endblock %}
    </title>
</head>

<body>
    <nav class="nav-top navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".site-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id='name-sm' class="navbar-brand" href="/">Haris Bin Zahid</a>
                <small></small>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse site-navbar-collapse"> <!-- removed navbar-collapse -->
                <ul id='nav-links' class="nav navbar-nav">
                    <li><a href="/portfolio">portfolio</a></li>
                    <li><a href="https://github.com/hbzahid" target='_blank'>github</a></li>
                    <li><a href="/resume">resume</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="side-bar col-sm-4 col-md-3">
        <div class='row row-lg'></div>
        <div class='side-bar-head row'>
            <div class='photo row'>
                <a href='/'>
                    <img src='/images/wembley.jpg' alt='My Photo'>
                </a>
            </div>
            <div class='row row-sm'></div>
            <div class='name text-center row'>
                <span>Haris Bin Zahid</span>
            </div>
            <div class='row row-xs'></div>
            <div class='row'>
                <div class='intro text-center col-xs-6 col-xs-offset-3'>
                    <span class='intro-text'>
                        CS Sophomore @ University of Waterloo
                    </span>
                </div>
            </div>
            <div class='row row-sm'></div>
            <div class='row'>
                <div class='col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-6'>
                    <ul class='side-links text-right'>
                        <li>
                            <a href="/">about me</a>
                        </li>
                        <li>
                            <a href="/portfolio">portfolio</a>
                        </li>
                        <li>
                            <a href="https://github.com/hbzahid" target='_blank'>github</a>
                        </li>
                        <li>
                            <a href="/resume">resume</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container col-xs-12 col-sm-8 col-md-9 col-sm-offset-4 col-md-offset-3">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>