{% extends "base.html" %}

{% block content %}
    <div class='col-xs-12 about-me'>
        <div class="row hello">
            <div>Hi there!</div> 
        </div> 
        <div class='row intro-para'>
            <p>I'm Haris, a computer science student at the University of Waterloo.</p>
            <p class='intro-para'>When I'm not working on assignments, you'll find me either building some random stuff with Python or solving challenges on <a target='_blank' href="https://hackerrank.com">hackerrank</a>.</p>
        </div>
    </div>
{% endblock %}