{% extends "base.html" %}

{% block content %}
    <div class='col-xs-12 about-me'>
        <div class="row hello">
            <div>Hi there!</div> 
        </div> 
        <div class='row intro-para'>
            <p>I'm Haris, a computer science student at the University of Waterloo.</p>
            <p class='intro-para'>I've worked on some exciting projects that you might want to check out <a href="/portfolio">here</a>. When I'm not working on assignments, you will normally find me either building random stuff or solving programming challenges. I also have a huge passion for learning advanced algorithms, so my biggest challenge is to effectively divide my time between so many interests.</p>
        </div>
    </div>
{% endblock %}