{% extends "base.html" %}

{% block content %}
	<div class='col-xs-12 portfolio'>
		<div class='col-sm-12 col-md-6 project'>
			<div class="card-container">
				<div class="card">
					<div class="side front">
						<div class='side-text side-text-1'>
							Blogging Engine
						</div>
						<img src="/images/blog.png" alt="project code" width="302" height="302">
					</div>
					<div class="side back text-justify">
						A Blogging engine and a wiki publishing app, whose backend was programmed with Google App Engine's webapp2 framework.
						<br>
						Core features implemented:
						<ul>
							<li>Form handling</li>
							<li>User Authentication</li>
							<li>Password hashing</li>
							<li>HTTP Requests</li>
							<li>Template inheritance</li>
							<li>Caching</li>
							<li>Strong consistency</li>
						</ul>
						<div class='buttons'>
							<a href='http://myprojectslib.appspot.com' class='btn btn-primary btn-md'>View project</a>
							<a class='btn btn-primary btn-md' href="https://github.com/hbzahid/blogging-app">View Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='col-sm-12 col-md-6'>
			<div class="card-container project">
				<div class='card'>
					<div class="side front">
						<div class='side-text side-text-2'>
							Invoicing App
						</div>
						<img src="/images/invoice.png" alt="blog picture" width="302" height="302">
					</div>
					<div class="side back text-justify">
						An invoicing application that dynamically generates a PDF based on input parameters, and a unique URL where the customer can access the file. Heroku's transient file system does not allow persistent storage of files, so the invoice generated is stored to an external server using the FileStack REST API.
						
						<div class='buttons btn-inv'>
							<a href='http://hrmetrics.herokuapp.com' class='btn btn-primary btn-md'>View project</a>
							<a class='btn btn-primary btn-md' href="https://github.com/hbzahid/invoice-app">View Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='col-xs-12 portfolio'>

		<div class='col-sm-12 col-md-6 project'>
			<div class="card-container">
				<div class="card">
					<div class="side front">
						<div class='side-text side-text-3'>
							Personal website
						</div>
						<img src="/images/personal-site.png" alt="project code" width="302" height="302">
					</div>
					<div class="side back text-justify">
						A basic website, hosted on App Engine. Used Bootstrap for building a responsive UI.
						<br>
						Things to do: Build a mini-CMS for the site (so that I don't have to hard-code stuff to make changes), and initiate a blog section.
						<div class='buttons btn-personal-site'>
							<a class='btn btn-primary btn-md' href="https://github.com/hbzahid/personal-website">View Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='col-sm-12 col-md-6 project'>
			<div class="card-container">
				<div class="card">
					<div class="side front">
						<div class='side-text side-text-4'>
							Connect Four
						</div>
						<img src="/images/connect-four.png" alt="project code" width="302" height="302">
					</div>
					<div class="side back text-justify">
						A simple command line version of the Connect Four game, made in September 2015. Players can specify the number of pieces that form a termination sequence.
						<br>
						<br>
						Purpose: Learning about Data Structures in Python by building a fun game.
						<div class='buttons btn-connect-four'>
							<a class='btn btn-primary btn-md' href="https://github.com/hbzahid/connect-four">View Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.card').flip({
				axis: 'y',
				trigger: 'hover'
			});
			$('.card').click(function() {
				$(this).trigger('mouseenter');
			});
		});
	</script>
{% endblock %}