{% extends "base.html" %}

{% block title %}
{{ post.subject }}
{% endblock %}

{% block content %}
<div class='col-xs-12' id="posts-container">

	<div class="row post">
		<div class="col-xs-12">
			<h1 class="text-left post-heading">
				<a href={{ "/blog/" ~ post.key.id()}} class="post-title"> 
					{{ post.subject }} 
				</a>
			</h2>
		</div>
	</div>
	<div class='row'>
		<div class="col-xs-12 date-wrapper text-left">
			<span class="post-date">{{ post.created.strftime('%b %d, %Y') }}</span>
		</div>
	</div>

	<div class="row post-content">
		<div class="col-xs-12">
			{{ post.replace() | safe }}
		</div>
	</div>

</div>
	
{% endblock %}